{% extends 'base.html.twig' %}

{% block title %}Votre panier{% endblock %}

{% block body %}

<div class="row" id="ariane">
    <ul class="crumb">
        <li><a href="{{ path('categorie') }}">Accueil</a></li>
    </ul>
</div>

<h1 id="titre"> Votre panier</h1>
<br><br>

{% if lignes %}
<a href="{{ path('delete_all') }}" class="btn btn-danger"> Vider mon panier</a>
{% endif %}

<div class="row">
    <table class="table">
        <thead>
            <tr id="nom-panier">
                <th></th>
                <th>PRODUIT</th>
                <th>PRIX UNITAIRE</th>
                <th>QTÉ</th>
                <th>TOTAL</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            {% for ligne in lignes %}
            <tr>
                <td>
                    <a href="{{ path('details', {id : ligne.produit.id}) }}">
                        <img class="img-fluid" width="150px" src="/assets/images/produits/{{ ligne.produit.photo }}"
                            alt="{{ ligne.produit.nom }}">
                    </a>
                </td>
                <td>{{ ligne.produit.nom }}</td>
                <td>{{ ligne.produit.prixachat }} &euro;</td>
                <td>{{ ligne.quantite }}</td>
                <td>{{ ligne.quantite * ligne.produit.prixachat }} &euro;</td>
                <td>
                    <a href="{{ path('add', {id: ligne.produit.id}) }}" class="btn btn-success">
                        <i class="fa-solid fa-magnifying-glass-plus"></i>
                    </a>
                    <a href="{{ path('remove', {id: ligne.produit.id}) }}" class="btn btn-primary">
                        <i class="fa-solid fa-magnifying-glass-minus"></i>
                    </a>
                    <a href="{{ path('delete', {id: ligne.produit.id}) }}" class="btn btn-danger">
                        <i class="fa-solid fa-trash"></i>
                    </a>
                </td>
            </tr>

            {% else %}
            <tr>
                <td colspan="6" class="text-center" id="vide">
                    <i class="fa-regular fa-face-frown-open"></i>
                    Il n'y a rien là-dedans
                    <i class="fa-regular fa-face-frown-open"></i>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% if lignes %}

<div class="col-12" id="total" style="text-align:center;">
    <h5>Total :</h5> {{ total }} &euro; TTC
</div>

<br>

<button type="button" class="btn btn-dark" id="bouton">
    <a class="valider" href="{{ path('informations_client') }}">Valider mon panier</a>
</button>

{% endif %}

{% endblock %}