{% extends 'base.html.twig' %}

{% block title %} Inscription {% endblock %}

{% block body %}
{% for flashError in app.flashes('verify_email_error') %}
<div class="alert alert-danger" role="alert">{{ flashError }}</div>
{% endfor %}

<div class="row" id="ariane">
    <ul class="crumb">
        <li><a href="{{ path('categorie') }}">Accueil</a></li>
    </ul>
</div>

<h1 id="titre"> Inscrivez-vous </h1>

<div class="row connexion">
    <div class="col-12">


        {{ form_start(registrationForm) }}

        {{ form_row(registrationForm.email) }}

        {{ form_row(registrationForm.plainPassword, {
        label: 'Password'
        }) }}

        {{ form_row(registrationForm.agreeTerms) }}

    </div>
</div>

<div class="row">
    <div class="col-12 bouton-connexion">
        <button type="submit" class="btn btn-dark"
            onclick="return confirm('Un email de confirmation va de vous être envoyer.')">Créer mon compte</button>
    </div>
</div>

{{ form_end(registrationForm) }}
{% endblock %}