{% extends 'base.html.twig' %}

{% block title %} Identifiez-vous {% endblock %}

{% block body %}

<div class="row" id="ariane">
    <ul class="crumb">
        <li><a href="{{ path('categorie') }}">Accueil</a></li>
    </ul>
</div>

<form method="post">
    {% if error %}
    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% for flash_error in app.flashes('verify_email_success') %}
    <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}


    <h1 id="titre"> Connectez-vous </h1>

    <div class="row">
        <a href="{{ path('app_register') }}" class="text-primary text-center">Pas encore de compte? Inscrivez-vous</a>
    </div>

    <div class="row">
        <div class="col-12 mx-auto py-4 w-75">

            {% for flash_error in app.flashes('connexion') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
            {% endfor %}

            <label for="inputEmail">Email :</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
                autocomplete="email" required autofocus>
            <label for="inputPassword">Mot de passe :</label>
            <input type="password" name="password" id="inputPassword" class="form-control"
                autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <div class="form-group pt-4 text-center">
                <button type="submit" class="btn btn-dark">Se connecter</button>
            </div>
        </div>
    </div>

    {#
    Uncomment this section and add a remember_me option below your firewall to activate remember me
    functionality.
    See https://symfony.com/doc/current/security/remember_me.html

    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" name="_remember_me"> Remember me
        </label>
    </div>
    #}



</form>
{% endblock %}