{% extends 'base.html.twig' %}

{% block title %}  {% endblock %}

{% block body %}

<div class="row" id="ariane">
    <ul class="crumb">
        <li style="border-radius: 50px 0 0 50px; padding-left: 15px;"><a href="/">Accueil</a></li>
        <li><a href="{{ path('souscategorie', {id : descriptif.sousCategorie.categorie.id}) }}">
            {{ descriptif.sousCategorie.categorie.nom}}</a></li>
        <li style="border-radius: 0 50px 50px 0; padding-right: 15px;">
            <a href="{{ path('produit', {id : descriptif.sousCategorie.id}) }}">
                {{ descriptif.sousCategorie.nom}}
            </a>
        </li>
    </ul>
</div>

<div class="row">

    <h1 id="titre">{{ descriptif.nom }}</h1>

    
        <div class="row" id="haut">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <img class="img-fluid" src="/assets/images/produits/{{ descriptif.photo }}" alt="{{ descriptif.nom }}" id="image-detail">
            </div>

            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <ul class="descriptif">
                    {{ descriptif.descriptif | nl2br }}
                </ul>
                    <hr>
                <p class="prix-detail"> {{ descriptif.prixachat }} &euro;</p>
                
                <button type="button" class="btn btn-dark" id="bouton">
                    <a class="valider" href="{{ path('add', {id: descriptif.id}) }}">Ajouter au panier</a>
                </button>
                
            </div>
        </div>  
</div>     

{% endblock %}
