{% extends 'base.html.twig' %}

{% block title %} Produits {% endblock %}

{% block body %}

<h1> Liste des produits </h1>

    {% for produit in produits %}
        <div>
            {{ produit.id }} <br>
            {{ produit.nom }} <br>
            {{ produit.prixachat }} <br>
            {{ produit.photo }} <br>
            {{ produit.stock }} <br>
            {{ produit.descriptif }}
        </div>
    {% endfor %}

{% endblock %}
